@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: white;
    color: #4adfb8;
}

html,
body {
    background-color: #4adfb8;
    background: linear-gradient(0deg, #4adfb8 50%, #ffffff 50%);
}
